# Python
__pycache__/
*.py[cod]
.venv/
dist/
*.egg-info/

# Alembic
migrations/versions/*.pyc

# JetBrains
.idea/
plugin/build/
plugin/.gradle/
plugin/.intellijPlatform/
plugin/bin/
plugin/.kotlin/
*.iml

# Environment
.env
.env.local
docker-compose.yml

# OS
.DS_Store
docker-compose.yml
